server:
  port: ${PORT:8009}
spring:
  application:
    name: connection-service
  cloud:
    consul:
      enabled: false
app:
  base-url: http://localhost:3000
  messaging:
    exchange:
      user: "user"
      connection: "connection"
    queue:
      user:
        event:
          deleted: "user.event.deleted.${spring.application.name}"
    routing-key:
      connection:
        event:
          created: "connection.event.created"
          deleted: "connection.event.deleted"
      user:
        event:
          deleted: "user.event.deleted"
